{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block head%}

  <meta charset="utf-8">
  <title>Fake News Detector</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link href="{{url_for('.static', filename='globe.ico')}}" rel="icon">
  <link href="{{url_for('.static', filename='style.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for('.static', filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for('.static', filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for('.static', filename='lib/animate/animate.min.css')}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

{%endblock%}

{%block body%}
<body>
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#hero">Fake News Detector</a></h1>
      </div>

      {%block navbar%}
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">How it works</a></li>
          <li><a href="#team">Creator</a></li>
        </ul>
      </nav>
      {%endblock%}


    </div>
  </header><!-- #header -->

  <section id="hero">
    <div class="hero-container">
      <h1>CA400 Final Year Project</h1>
      <h2>This project aims to provide a way to analyse a news article and determine if it's a source of fake news or not</h2>

      <form action="{{url_for('linkResult')}}" method="post" >
         <div class="form-inline">

         <div class="form-group">
            <input type="url" required class="form-control" name="article_link"  placeholder="Enter article link" style="width:425px;">
            <input type="submit" class="input-group-addon btn btn-secondary" value="Analyse" >
         </div>
      </div>
      </form>

      <form action="{{url_for('textResult')}}" method="post">
      <div class="form-group shadow-textarea" >
        <label for="textarea"></label>
        <textarea class="form-control z-depth-1" required id="textarea" name ="article_text"rows="4" minlength="100" placeholder="or enter article body here" style="width:500px;"></textarea>
         <input type="submit" class="input-group-addon btn btn-secondary" value="Analyse" >
      </div>
   </form>

    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">HOW IT WORKS</h2>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <h4 class="title">Article Extraction </h4>
              <p class="description"> The user inputs the link to the article they want to analyse and the body of that article is extracted. The contents of the article is then used for Text Classification and to check the Similarity score.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <h4 class="title">Text Classification </h4>
              <p class="description">With the combination of Term Frequency and Inverse Document Frequency (TF-IDF) and a Classifier, the article's content is classified as 'Reliable' or 'Unreliable' </p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <h4 class="title"> Text Similarity </h4>
              <p class="description"> Using the title of the target article, a Google search is performed and the top results are collected. A text similarity metric (Cosine Similarity) is then used to individually compare the collected articles to the target article and the similarity score is displayed.</p>
            </div>
          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>

      </div>
    </section><!-- #about -->

    <section id="team">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Creator</h3>
        </div>
        <div class="row">

            <div class="member" >
              <div class="pic"><img src="{{url_for('.static', filename='howth.jpg')}}" alt=""></div>
              <h4>David Talan</h4>
              <span>Final Year Computing Student</span>
              <div class="social">
                <a href="https://twitter.com/Dabedd"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/beddpeace?ref=bookmarks"><i class="fa fa-facebook"></i></a>

                <a href="https://www.linkedin.com/in/david-talan-0a8585149/"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>

        </div>

      </div>
    </section><!-- #team -->


  </main>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
 {%block scripts%}

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.hoverintent/1.10.0/jquery.hoverIntent.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/superfish/1.7.10/js/superfish.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="{{url_for('.static', filename='main.js')}}"></script>
{%endblock%}

</body>
{%endblock%}
</html>
